<div class="container">
  <mat-grid-list cols="1" rowHeight="100%" class="center-grid">
    <mat-grid-tile>
      <form [formGroup]="apiKeyForm" (ngSubmit)="onSubmit()" class="api-form">
        <mat-form-field appearance="outline">
          <mat-label>API Key</mat-label>
          <input matInput id="apiKey" formControlName="apiKey" type="text" required />
          <mat-error *ngIf="apiKeyForm.get('apiKey')?.hasError('required') && apiKeyForm.get('apiKey')?.touched">
            API Key is required
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="apiKeyForm.invalid">Authenticate</button>
      </form>
    </mat-grid-tile>
  </mat-grid-list>
</div>
